body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.evenement-card {
    margin: 10px;
    background-color: rgba(0,0,0,0.08);
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
    padding: 1rem 2rem;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
img {
    width: 50px;
}

img:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .navbar a,
    .navbar button {
        padding: 0;
    }

    .navbar .navbar__links {
        gap: 0;
    }
}