{% extends 'base.html.twig' %}

{% block title %}Database Error{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/pages/login.css">
{% endblock %}

{% block content %}
    <div class="card" style="margin-top: 2rem;">
        <h1>Database Connection Error</h1>
        <p>We are sorry, but we could not connect to the database. Please try again later.</p>
    </div>
{% endblock %}
